<div class="guy" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url('<%= cl_image_path @cocktail.photo, crop: :fill %>')">
  <h1>New Cocktail</h1>

  <%= render 'form', cocktail: @cocktail %>
  <%= link_to 'Back', cocktails_path %>
</div>
