<p id="notice"><%= notice %></p>

<h1>doses (<%= @doses.count %>)</h1>

  <div class="container">
    <ul>
      <% @doses.each do |dose| %>
        <li>
          <h3><strong><%= dose.description %></strong></h3><br>
          <%= link_to 'Remove', dose_path(dose), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
